body {
    margin: 100px;
}

.ta {
    border: 1px black solid;
    padding: 15px;
    margin-bottom: 5px;
}

.ta:hover {
    background-color: rgba(228, 220, 208, 0.9);
}

.tabla1 {
    background-color: rgb(205, 92, 92);
    color: rgb(0, 0, 0);
    
}

.tabla2 {
    background-color: rgb(240, 128, 128);
    color: rgb(0, 0, 0);
    
}

.tabla3 {
    background-color: rgb(240, 128, 128);
    color: rgb(0, 0, 0);
    
    
}
.tabla4 {
    background-color: rgb(240, 128, 128);
    color: rgb(0, 0, 0);
    
}

.tabla5{
    background-color: magenta;
    color: black;
}