@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-size: 18px;
}

*{
    font-family: "Roboto", sans-serif;
    /*font-family: monospace;*/
}

body{
    font-size: 12px;
    background-color: rgb(180, 223, 223);
    color: tomato;
    background-image: url(../19f249c56a138a4185a9f4b7936e8ba9.jpg) 
}

h1{
    font-family: "Bungee Spice", sans-serif;
    background-color: bisque;
}

.p1{
    font-size: 16px;
}

.p2{
    font-size: 1em;
}

.p3{
    font-size: 1rem;
}

.p4{
    font-size: 2%;
}

.p5{
    font-size: 1vw;
}

.p6{
    font-size: 1vh;
}

.item-1{
    font-size: xx-small;
    font-weight: 100;
}

.item-2{
    font-size: x-small;
    font-weight: 200;
}

.item-3{
    font-size: small;
    font-weight: 300;
}

.item-4{
    font-size: medium;
    font-weight: 400;
}

.item-5{
    font-size: large;
    font-weight: 500;
}

.item-6{
    font-size: x-large;
    font-weight: 600;
}

.item-7{
    font-style: normal;
    font-size: xx-large;
    font-weight: 700;
}

.item-8{
    font-style: italic;
    font-size: smaller;
    font-weight: 800;
}

.item-9{
    font-style: oblique;
    font-size: larger;
    font-weight: 900;
}